

<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">CONTACT</h2>
        <label>NAME SURNAME</label>
        <input type="text" class="form-control" name="NAMESURNAME" />

        <label>MAIL</label>
        <input type="text" class="form-control" name="MAIL" />

        <label>SUBJECT</label>
        <input type="text" class="form-control" name="SUBJECT" />

        <label>MESSAGE</label>
        <input type="text" class="form-control" name="MESSAGE" />
        <br />
        <button class="btn btn-info">SEND MESSAGE</button>
    </form>

</div>

