@using CVmvc.Models.Entity;
@model List<TBL_EXPERIANCE>


<div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    @foreach (var x in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@x.HEAD</h3>
                <div class="subheading mb-3">@x.HEADBELOW</div>
                <p>@x.EXPLANATION</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@x.DATE</span></div>
        </div>
    }
</div>



