@using CVmvc.Models.Entity
@model List<TBL_SERTIFIKA>


<div class="resume-section-content">
    <h2 class="mb-5">Awards & Certifications</h2>
    <ul class="fa-ul mb-0">
        @foreach (var x in Model)
        {

            <li>

                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                @x.EXPLANATION
            </li>
        }
    </ul>

</div>