


@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>DeneyimEkle</h2>

<br />
<h4>New Experiance Adding List</h4>
<br />

<form method="post">

    <input type="text" name="HEAD" class="form-control" placeholder="HEAD" />
    <br />
    <input type="text" name="HEADBELOW" class="form-control" placeholder="HEADBELOW" />
    <br />
    <input type="text" name="DATE" class="form-control" placeholder="DATE" />
    <br />
    <textarea placeholder="Aciklamanizi Giriniz" name="EXPLANATION" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info">SAVE</button>

</form>

