
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>hakkimda menusu</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SEHIR</th>
    </tr>
    <tr>
        <td>1</td>
        <td>gurkan</td>
        <td>sakarya</td>
    </tr>

</table>

